<?xml version="1.0"?>

<model>
  <name>blue_cylinder</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Addison Sears-Collins</name>
    <email>automaticaddison@todo.com</email>
  </author>

  <description>
    A blue cylinder model for the color-aware MTC pick and place task.
  </description>
</model>
